In [1]:
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd
import numpy as np

from sklearn.preprocessing import LabelEncoder,MinMaxScaler, StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score,ConfusionMatrixDisplay,confusion_matrix

from sklearn.linear_model import LogisticRegression

import warnings
warnings.filterwarnings('ignore')

In [18]:
df = pd.read_csv("river-historical-1986_2020-en.csv")

In [19]:
df.head()

,Water Control Zone,River,Station,Dates,Water Temperature (°C),pH,Conductivity (μS/cm),Turbidity (NTU),Dissolved Oxygen (mg/L),Total Solids (mg/L),5-Day Biochemical Oxygen Demand (mg/L),Chemical Oxygen Demand (mg/L),Unnamed: 12
0,Junk Bay,Tseng Lan Shue Stream,JR11,29/04/1986,25.0,6.9,320.0,4.1,6.0,210,9.7,13,NaN
1,Junk Bay,Tseng Lan Shue Stream,JR11,19/05/1986,26.6,7.1,220.0,4.2,5.3,180,5.6,21,NaN
2,Junk Bay,Tseng Lan Shue Stream,JR11,18/06/1986,28.4,7.2,220.0,5.5,6.2,150,9,19,NaN
3,Junk Bay,Tseng Lan Shue Stream,JR11,24/07/1986,26.5,7.3,185.0,6.5,5.2,34,12.2,17,NaN
4,Junk Bay,Tseng Lan Shue Stream,JR11,15/08/1986,30.1,7.3,250.0,6.7,5.1,160,8.8,5,NaN

In [20]:
# Drop 1st and 2nd columns
df = df.drop(columns=["Water Control Zone","River", "Station", "Dates", "Unnamed: 12"], axis=1)
df.head()

,Water Temperature (°C),pH,Conductivity (μS/cm),Turbidity (NTU),Dissolved Oxygen (mg/L),Total Solids (mg/L),5-Day Biochemical Oxygen Demand (mg/L),Chemical Oxygen Demand (mg/L)
0,25.0,6.9,320.0,4.1,6.0,210,9.7,13
1,26.6,7.1,220.0,4.2,5.3,180,5.6,21
2,28.4,7.2,220.0,5.5,6.2,150,9,19
3,26.5,7.3,185.0,6.5,5.2,34,12.2,17
4,30.1,7.3,250.0,6.7,5.1,160,8.8,5

In [21]:
# Null values
df.isnull().sum()

Water Temperature (°C)                      9
pH                                         12
Conductivity (μS/cm)                        5
Turbidity (NTU)                            16
Dissolved Oxygen (mg/L)                     4
Total Solids (mg/L)                       143
5-Day Biochemical Oxygen Demand (mg/L)    116
Chemical Oxygen Demand (mg/L)              12
dtype: int64

In [22]:
# Eliminar filas con valores nulos
df = df.dropna()

# Verificar la cantidad de valores nulos después de eliminar filas
print("Valores nulos después de eliminar filas:")
print(df.isnull().sum())

Valores nulos después de eliminar filas:
Water Temperature (°C)                    0
pH                                        0
Conductivity (μS/cm)                      0
Turbidity (NTU)                           0
Dissolved Oxygen (mg/L)                   0
Total Solids (mg/L)                       0
5-Day Biochemical Oxygen Demand (mg/L)    0
Chemical Oxygen Demand (mg/L)             0
dtype: int64

In [23]:
# Save clean dataset as csv
df.to_csv('river-historical.csv', index=False)