Name: Stock Market Analysis

Project Type: Deep Learning: Long short-term memory (LSTM)

Analyzing the risk of a stock based on its previous performance history. Predicting future stock prices using LSTM.

In [3]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns
sns.set_style('whitegrid')
plt.style.use("fivethirtyeight")
%matplotlib inline

# For reading stock data from yahoo
from pandas_datareader.data import DataReader
import yfinance as yf
from pandas_datareader import data as pdr

yf.pdr_override()

# For time stamps
from datetime import datetime


# The tech stocks we'll use for this analysis
tech_list = ['AAPL', 'GOOG', 'MSFT', 'AMZN']

# Set up End and Start times for data grab
tech_list = ['AAPL', 'GOOG', 'MSFT', 'AMZN']

end = datetime.now()
start = datetime(end.year - 1, end.month, end.day)

for stock in tech_list:
    globals()[stock] = yf.download(stock, start, end)

company_list = [AAPL, GOOG, MSFT, AMZN] 
company_name = ["APPLE", "GOOGLE", "MICROSOFT", "AMAZON"]

for company, com_name in zip(company_list, company_name):
    company["company_name"] = com_name
    
df = pd.concat(company_list, axis=0)
df.tail(10)

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume,company_name
Date,,,,,,,
2023-01-19 00:00:00-05:00,94.739998,95.440002,92.860001,93.680000,93.680000,69002700,AMAZON
2023-01-20 00:00:00-05:00,93.860001,97.349998,93.199997,97.250000,97.250000,67307100,AMAZON
2023-01-23 00:00:00-05:00,97.559998,97.779999,95.860001,97.519997,97.519997,76501100,AMAZON
2023-01-24 00:00:00-05:00,96.930000,98.089996,96.000000,96.320000,96.320000,66929500,AMAZON
2023-01-25 00:00:00-05:00,92.559998,97.239998,91.519997,97.180000,97.180000,94261600,AMAZON
2023-01-26 00:00:00-05:00,98.239998,99.489998,96.919998,99.220001,99.220001,68523600,AMAZON
2023-01-27 00:00:00-05:00,99.529999,103.489998,99.529999,102.239998,102.239998,87678100,AMAZON
2023-01-30 00:00:00-05:00,101.089996,101.739998,99.010002,100.550003,100.550003,70691900,AMAZON
2023-01-31 00:00:00-05:00,101.160004,103.349998,101.139999,103.129997,103.129997,66527300,AMAZON
2023-02-01 00:00:00-05:00,102.529999,106.239998,101.245003,105.150002,105.150002,75356286,AMAZON

Descriptive Statistics about the Data

In [4]:
AAPL.describe()

,Open,High,Low,Close,Adj Close,Volume
count,252.000000,252.000000,252.000000,252.000000,252.000000,2.520000e+02
mean,151.975953,154.075159,149.955516,152.092778,151.719224,8.522705e+07
std,13.186318,13.054993,13.204873,13.168197,12.972624,2.248768e+07
min,126.010002,127.769997,124.169998,125.019997,125.019997,3.519590e+07
25%,142.120003,143.987495,139.974998,142.472496,142.198231,7.019855e+07
50%,149.839996,151.785004,147.930000,150.524994,150.180428,8.075445e+07
75%,163.247505,165.617504,160.779999,163.477493,162.967106,9.340570e+07
max,178.550003,179.610001,176.699997,178.960007,178.154053,1.826020e+08

Information About the Data

In [5]:
AAPL.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 252 entries, 2022-02-01 00:00:00-05:00 to 2023-02-01 00:00:00-05:00
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Open          252 non-null    float64
 1   High          252 non-null    float64
 2   Low           252 non-null    float64
 3   Close         252 non-null    float64
 4   Adj Close     252 non-null    float64
 5   Volume        252 non-null    int64
 6   company_name  252 non-null    object
dtypes: float64(5), int64(1), object(1)
memory usage: 15.8+ KB